<div class="wrapper">
  <p-toolbar>
    <div class="p-toolbar-group-left" style="flex: 1 1 auto">
      <button pButton icon="pi pi-bars" class="p-button-primary"></button>
    </div>
    <div class="p-toolbar-group-right" style="flex: 1 1 auto">
      <p-toggleButton
        [(ngModel)]="lightTheme"
        [onIcon]="'pi pi-sun'"
        [offIcon]="'pi pi-moon'"
        class="ml-auto"
        (onChange)="adjustTheme($event)"></p-toggleButton>
    </div>
  </p-toolbar>
  <main>
    <h1>Content</h1>
  </main>
</div>
